body {
  background-image: url("/Personal-CV/Images/Hawaii.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
hr {
  border-style: dotted;
  border-bottom: none;
  border-color: gray;
  border-width: 5px;
  width:5%;
}

h1{
  color: black;
}

h2{
  color: #66BFBF;
}
.btn{
  color: #66BFBF;
}
/*class styles*/
.name-header{
}

/*ID styles*/

.human {margin: 0 0 0 12px}
.modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}
